.plane-image {
  width: 100%; 
  height: auto; 
  max-height: none; 
  object-fit: cover; 
  margin-bottom: 20px;
  border-radius: 10px;
}

.App {
  text-align: center;
  background-color: #f9f9c5; /* Light yellow background */
  padding: 20px;
}

h1 {
  color: #333;
}
